/* template.css - a css template                                                                                     */
/* started - 17-May-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     17-May-2022 - started                                                                                         */

#heading-div {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
    text-align: center;
}

#about-div {
    width: 80%;
    margin: auto; 
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
}

#about-area {
    width: 100%;
    background-color: lightgrey;
    margin: auto;
}
