/* options.css - a css template                                                                                      */
/* started - 16-Jun-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     16-Jun-2022 - started                                                                                         */
/*     18-Jun-2022 - add css for additional options                                                                  */
/*     19-Jun-2022 - add css for cornerimageno                                                                       */
/*     14-Aug-2022 - add css for leftlinks div and label                                                             */
/*     03-Oct-2000 - change to session and server log labelling                                                      */

#heading-div {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
    text-align: center;
}

#cornerimagepolicy-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#cornerimagepolicy-label {
    display: inline-block;
    width:180px;
}

#cornerimageno-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#cornerimageno-lbl01 {
    display: inline-block;
    width:180px;
}

#cornerimagechoice-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#cornerimagechoice-label {
    display: inline-block;
    width:180px;
}

#backgroundimagechoice-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#backgroundimagechoice-label {
    display: inline-block;
    width:180px;
}

#showuser-label {
    display: inline-block;
    width:180px;
}

#showserverlog-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#showserverlog-label {
    display: inline-block;
    width:180px;
}

#showsessionlog-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#showsessionlog-label {
    display: inline-block;
    width:180px;
}

#showleftlinks-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#showleftlinks-label {
    display: inline-block;
    width:180px;
}

#message-div {
    position: relative;
    max-width: 1440px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#message-label {
    font-weight: 600;
    display: inline-block;
    width: 100px;
    margin-left: 10px;
}

#message-input {
    margin: auto;
    width:80%;
    background-color: #E5E4E2;
    border-color: #E5E4E2;
    border-width: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

#serverlog-div {
    width: 80%;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    max-width: 800px;
    display: none;
}

#sessionlog-div {
    width: 80%;
    margin: auto;
    max-width: 800px;
    display: none;
    text-align: center;
}

#serverlog-textarea{
    width: 105%;
    margin: auto;
    background-color: lightgrey;
    display: block;
    text-align: center;
}

#sessionlog-textarea{
    width: 105%;
    margin: auto;
    background-color: lightgrey;
    display: block;
    text-align: center;
}

