/* options.css - a css template                                                                                     */
/* started - 16-Jun-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     16-Jun-2022 - started                                                                                         */

#heading-div {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
    text-align: center;
}

#cornerimagepolicy-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#cornerimagepolicy-label {
    length:100px;
}

#cornerimagechoice-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}
#cornerimagechoice-label {
    length:100px;
}

