/* options.css - a css template                                                                                      */
/* started - 16-Jun-2022                                                                                             */
/* References:                                                                                                       */
/*         HTML & CSS for Beginners Part 22: How to create a basic layout - the CSS                                  */
/* Log                                                                                                               */
/*     16-Jun-2022 - started                                                                                         */
/*     18-Jun-2022 - add css for additional options                                                                  */
/*     19-Jun-2022 - add css for cornerimageno                                                                       */
/*     14-Aug-2022 - add css for leftlinks div and label                                                             */

#heading-div {
    width: 80%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 800px;
    text-align: center;
}

#cornerimagepolicy-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#cornerimagepolicy-label {
    display: inline-block;
    width:180px;
}

#cornerimageno-div {
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#cornerimageno-lbl01 {
    display: inline-block;
    width:180px;
}

#cornerimagechoice-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#cornerimagechoice-label {
    display: inline-block;
    width:180px;
}

#backgroundimagechoice-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#backgroundimagechoice-label {
    display: inline-block;
    width:180px;
}

#showuser-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
    display: none               /* suppress div until method can be found */
}

#showuser-label {
    display: inline-block;
    width:180px;
}

#showaccesslog-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#showaccesslog-label {
    display: inline-block;
    width:180px;
}

#showsessionlog-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#showsessionlog-label {
    display: inline-block;
    width:180px;
}

#showleftlinks-div {
    width: 80%;
    margin: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    text-align: left;
}

#showleftlinks-label {
    display: inline-block;
    width:180px;
}

#accesslog-div {
    width: 80%;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    max-width: 800px;
    display: none;
}

#sessionlog-div {
    width: 80%;
    margin: auto;
    margin-top:10px;
    margin-bottom:10px;
    max-width: 800px;
    display: none;
}

#accesslog-textarea{
    width: 100%;
    margin: auto;
    background-color: lightgrey;
    display: block;
}

#sessionlog-textarea{
    width: 100%;
    margin: auto;
    background-color: lightgrey;
    display: block;
}

