/* serverProfile.css -  stylesheet for serverProfile.html                                                                */
/* References:                                                                                                       */
/*    https://www.youtube.com/watch?v=qTGbWfEEnKI                                                                    */
/*         Easily Structure your Layout with CSS Grid's 'grid-template-areas'                                        */
/* Templates:                                                                                                        */
/* Log:                                                                                                              */
/*    17-May-2022 - start                                                                                            */
/*                                                                                                                   */

#heading-div{
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

#results-div {
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80%;
    max-width: 800px;
    text-align: left;
}
